<body class="text-center">

    <div class="jumbotron jumbotron-fluid">
      <div class="topnav" id="myTopnav">
        <a routerLink="/usermenu">Home</a>
         
         
        <a routerLink="/usercompletedtraining" class="active">Completed Trainings</a>
        <a routerLink="/usercurrenttraining">Current Trainings</a>
        <a (click)="logout()" style="float:right">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('myTopnav')">
           <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="32px" id="Layer_1" fill="white" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
        </a>
      </div>
      <div class="container" >
        <h2 class="display-4">Completed Trainings</h2>
       
        
      </div>
    </div>
    <div class="table-responsive-md" style="width:60vw;">
        <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Technology</th>
            <th scope="col">Mentor</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Edit Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let training of trainings">
            <th scope="row">{{training.id}}</th>
            <td>{{training.technology.techName}}</td>
            <td>{{training.mentor.firstName}} {{training.mentor.lastName}}</td>
            <td>{{training.startDate | date}}</td>
            <td>{{training.endDate | date}}</td>
            <td><button (click)="prompt(training)" class="btn btn-success">Edit Rating</button></td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Spring Boot</td>
            <td>Jacob</td>
            <td>12/09/2018</td>
            <td>24/10/2018</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>HTML</td>
            <td>Larry</td>
            <td>15/04/2018</td>
            <td>26/06/2018</td>
          </tr> -->
        </tbody>
      </table>
  
  </div>
  </body>
  