<body class="text-center noscroll">

    
      <div class="topnav" id="myTopnav">
        <a routerLink="/adminmenu" >Home</a>
        <a routerLink="/addedittechnology" class="active">Add/Edit Technologies</a>
        <a routerLink="/addeditskills">Add/Edit Skills</a>
        <a routerLink="/blockuser">Block/Unblock User</a>
        <a routerLink="/blockmentor">Block/Unblock Mentor</a>
        <a routerLink="/addedittraining">Add/Edit Training</a>
        <a (click)="logout()" style="float:right">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('myTopnav')">
        <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="32px" id="Layer_1" fill="white" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
        </a>
      </div>

      <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Add/Edit Technology</h1>
        <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
      </div>
  </div>
  <div class="table-responsive-md" style="width:60vw;">
          <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Technology</th>
              <th scope="col">Fees</th>
              <th scope="col">Duration</th>
              <th scope="col">Edit Fees</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tech of technology">
              <th scope="row">{{tech.id}}</th>
              <td>{{tech.techName}}</td>
              <td>Rs. {{tech.price}}</td>
              <td>{{tech.duration}} hrs.</td>
              <td><button (click)="prompt(tech.id)" class="btn btn-success">Change Fees</button> </td>
              <td><button class="btn btn-success" (click)="deleteTechnology(tech)">Remove</button> </td>
            </tr>
            <!-- <tr>
              <th scope="row">2</th>
              <td>HTML</td>
              <td>5000</td>
              <td><button class="btn btn-success">Change Fees</button> </td>
              <td><button class="btn btn-success">Remove</button> </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Angular</td>
              <td>5000</td>
              <td><button class="btn btn-success">Change Fees</button> </td>
              <td><button class="btn btn-success">Remove</button> </td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <form class="sign-in">
              <label for="SearchTraining" class="sr-only">tech:</label>
              <select name="SearchTraining" [(ngModel)]="tech.techName" class="form-control" required> 
                <option [ngValue]="undefined" hidden selected disabled>Search</option>
                <option value="Java Full Stack">Java Full Stack</option>
                <option value="Dotnet Full Stack">Dot Net Full Stack</option>
                <option value="Cloud Computing">Cloud Computing</option>
                <option value="Sales Force">Sales Force</option>
              </select>
              <br>
              <input name="duration" [(ngModel)]="tech.duration" type="number" min="0" max="100000" placeholder="Duration" class="form-control">
              <br>
              <input name="price" [(ngModel)]="tech.price" type="number" min="0" max="100000" placeholder="Fees" class="form-control">
              <br>
              <input name="remarks" [(ngModel)]="tech.remarks" type="text" placeholder="Description" class="form-control" required>
              <button class="btn btn-lg btn-primary btn-block" style="margin-top:10px; background-color:#333;" (click)="createTechnology(tech)" type="button">Add Technology</button>
      </form>
  </body>