<body class="text-center noscroll">

  <div class="jumbotron jumbotron-fluid">
    <div class="topnav" id="myTopnav">
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup" class="active">Sign Up</a>
      <a routerLink="/signupformentor">Sign Up as Mentor</a>
      <a routerLink="/">Contact</a>
      <a routerLink="/">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction('myTopnav')">
          <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="32px" id="Layer_1" fill="white" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
      </a>
    </div>
    <div class="container">
      <h1 class="display-4">Sign Up</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
  <form class="form-signin">
            <label for="firstName" class="sr-only">First Name</label>
        <input type="text" name="firstName" ng-model="firstName" id="firstName" (change)="firstName('msg1')" [(ngModel)]="user.firstName" pattern="^[A-Za-z -]+$"  class="form-control" placeholder="First Name" required>
        <span style="color:red" id="msg1"></span>
        <br>
   
        <input type="text" id="LastName" name="lastName" class="form-control" (change)="lastName('msg2')" [(ngModel)]="user.lastName" placeholder="Last Name" required>
        <span style="color:red" id="msg2"></span>
        <br>
    <label for="userName" class="sr-only">Email address</label>
    <input type="email" [(ngModel)]="user.userName" name="userName" id="userName" class="form-control" (change)="validateEmail()" placeholder="Email address" required>
    <span style="color:red" id="msg4"></span>
    <br>
    <label for="contactNumber" class="sr-only">Contact</label>
    <input type="text" [(ngModel)]="user.contactNumber" minlength="10" maxlength="10" (change)="contact()"name="contactNumber" id="contactNumber" class="form-control" placeholder="Contact Number" required>
    <span style="color:red" id="msg3"></span>
    <br>
    <label for="linkedinUrl" class="sr-only">Linkedin URL</label>
    <input type="text" [(ngModel)]="user.linkedinUrl" name="linkedinUrl" id="linkedinUrl" class="form-control" placeholder="Linkedin URL" required>
    <br>
    <label for="yearsOfExperience" class="sr-only">Years of Experience</label>
    <input type="number" [(ngModel)]="user.yearsOfExperience" name="yearsOfExperience" id="yearsOfExperience" class="form-control" placeholder="Years Of Experience" required>
    <br>
    <label for="password" class="sr-only">Password</label>
    <div class="input-group mb-3">
    <input #x type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
    <div id="icon" class="input-group-append">
      <span class="add-on btn btn-primary form-control form-signin" (click)="x.type=x.type=='password'?'text':'password'; y.className=y.className=='fa fa-eye'?'fa fa-eye-slash':'fa fa-eye'"><i #y class="fa fa-eye"></i></span> 
    </div>
  </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" (click)="createUser()" type="submit">Sign Up</button>
    <div class="mt-3 mb-2">
        Already have an account?<a routerLink="/login">Login</a>
      </div>
    <p class="mt-3 mb-2 text-muted">&copy; Rajat Yadav</p>
  </form>
</body>
