
    
    <div class="topnav" id="myTopnav">
      <a routerLink="/" class="active">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/signupformentor">Sign Up as Mentor</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction('myTopnav')">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
    <div class="content">
    <div class="jumbotron">
        <div class="container" style="margin-top:10vh;">
          <h1 class="display-3">Mentor on Demand</h1>
          <p class="text1" >A software system which let users search for a Mentor for a specific Technical Course. There are many courses to choose from and you can also see your progress in the chosen course.</p>
          <p><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="container">

        <div class="row">
          <div class="col-md-12">
     <br>
            <h2 id="about" align="center">About Us</h2>
            <br>
    <p align="center">Mentor on demand is a learning portal where one can find mentor for different courses. There are many courses to choose from and you can also see your progress in the chosen course.A software system which let users search for a Mentor for a specific Technical Course,
            User can search, select, propose& finalize a Mentor of his Choice, post which Training gets
             started.</p>
    <br>
          </div>
     </div>
     <hr>
        <div class="row">
          <div class="col-md-12">
     <br>
            <h2 id="contact" align="center">Contact Us</h2>
            <br>
    <p align="center">MOBILE NO.: +1234567890 </p>
    <br>
          </div>
     </div>
     <br>
     <hr>
     </div>
     <footer class="container">
      <p>&copy; Rajat Yadav</p>
    </footer>
  </div>
  
